name: ProcGlows # description of this workflow, can be anything you want

# triggers when pushing a tag
on:
  push:
    tags:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Package and Release
        uses: BigWigsMods/packager@master
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          # WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
          # WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
          # for github releases, this secret is automatically provided to the workflow
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
